<!DOCTYPE html>
<html lang="en" class="">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, user-scalable=no">
    <%- include('templates/seo.ejs') %>
    <!-- Styles -->
    <%- include('templates/styles.ejs') %>
    <script data-ad-client="ca-pub-4835414880742948" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  </head>
  <body>
      
    <%- include('templates/header.ejs') %>

    <%-body%>

    <%- include('templates/footer.ejs') %>

    <!-- Scripts -->
    <%- include('templates/scripts.ejs') %>
  </body>
</html>



