
<title><%= title %></title>
<meta name="title" content="<%= title %>">

<meta name="keywords" content="ناوی کوردی,واتای ناوی کوردی,nawi kurdi,واتای ناوەکان,مانای ناوەکان,nawe kurdi,nawi kuran,nawi kwr,nawy kurdi,nawy kurdi,
    nawe kuran 2019,manay nawi kurdi,nawi kurdi kuran,nawe mnal 2019,nawi xosh,nawi mnal,nawi kurdi 2018,nawi kurdi kuran 2018,ناوی كوردی,nawi mndal,nawe mnal kurdi 2019,nawi kurdi kuran 2019,nawy kurdi,nawi kurdi 2018,
    mnal,نەوەی نوێ,ماناى ناوى كوردى,nawi mnal 2019,ناوەکان,مانای ناوی کوردی,nawi kurdi kuran 2019,nawe mnal kurdi 2019,nawe mnal kurdi 2018,ناوەکانی کوردی,nawi kurdi xosh,nawe kurdi xosh,mangakani kurdi,ناوی كوردی,nawi mndal,manay nawi mnal,nawi xosh">
    
<% if(activePage=='home'){ %>
    <meta name="description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <!-- Open Graph / Facebook -->
    <meta property="article:author" content="https://www.facebook.com/nawykurdi" />
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="ناوی كوردی" />
    <meta property="og:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان ."/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nawikurdi.com">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <meta property="twitter:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg">

<% } %>
<% if(activePage=='submit-name'){ %>
    <meta name="description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <!-- Open Graph / Facebook -->
    <meta property="article:author" content="https://www.facebook.com/nawykurdi" />
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="ناوی كوردی" />
    <meta property="og:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان ."/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nawikurdi.com">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <meta property="twitter:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg">

<% } %>
<% if(activePage=='about'){ %>
    <meta name="description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <!-- Open Graph / Facebook -->
    <meta property="article:author" content="https://www.facebook.com/nawykurdi" />
    <meta property="og:locale" content="en_EN"/>
    <meta property="og:site_name" content="ناوی كوردی" />
    <meta property="og:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان ."/>
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%= title %>" />
    <meta property="og:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://nawikurdi.com">
    <meta property="twitter:title" content="<%= title %>">
    <meta property="twitter:description" content="ماڵپەری ناوەکان بە یەکەم پرۆژەی درەختی گەشەپێدەران دادەنرێت کە وەک سەرچاوەیەک و ئەرشیفێک کاردەکات بۆ ناوەکانی زمانی کوردی و ماناکانیان .">
    <meta property="twitter:image" content="https://nawikurdi.com/images/nawikurdi-cover.jpg">
<% } %>